/*App wide features*/
.App {
  text-align: center;
}

p {
  text-align: left;
}

/*NavBar*/
#navbar-btns {
  float: right;
  padding: 10px;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #041e0a;
}

/*Home page*/
.home {
  background-color: #555;
  height: 1100px;
  padding: 20px;
}


.App-title {
  font-size: 4em;
  color: white;
  margin-top: 475px;
  text-shadow: 0 0 40px black;
}

.tagline {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 40px black;
}

.image {
  width: 100%;
  height: 1100px;
  background-image: url('images/home.jpg');
  background-size: cover;
}

.large-hr {
  margin-left: 100px;
  margin-right: 100px;
}

.small-hr {
  margin-left: 180px;
  margin-right: 180px;
}

/*About page*/
#about-container {
  padding: 25px;
}

#about-container {
  width: 80%;
  margin: auto;
  border: solid;
  border-color: white;
  color: white;
}

#about-box {
  padding: 20px;
  background-color: #041e0a;
}

/*Feature Projects*/
#feature-box {
  padding: 20px;
}

#feature-container {
  width: 80%;
  margin: auto;
  color: black;
}

.project {
  width: 90%;
  min-height: 300px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 1em;
}

.project-description {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.blog-image {
  background-image: url('images/blog.png');
}

.blog-image img {
  vertical-align: middle;
}

/*Footer*/
#footer-container {
  background-color: #041e0a;
  color: white;
  padding: 10px;
}
