.App {
  text-align: center;
}

.home {
  background-color: #555;
  height: 1100px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

#about-container {
  padding: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#navbar-btns {
  float: right;
  padding: 10px;
}

.App-title {
  font-size: 4em;
  color: white;
  margin-top: 475px;
  text-shadow: 0 0 40px black;
}

.tagline {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 40px black;
}

.navbar {
  position: fixed;
  width: 100%;
}

.image {
  width: 100%;
  height: 1100px;
  background-image: url('images/home.jpg');
  background-size: cover;
}

.large-hr {
  margin-left: 100px;
  margin-right: 100px;
}

.small-hr {
  margin-left: 180px;
  margin-right: 180px;
}
