.App {
  text-align: center;
}

.home {
  background-color: #555;
  height: 1100px;
  padding: 20px;
}

.App-title {
  font-size: 3.5em;
  color: white;
  margin-top: 600px;
}

.App-intro {
  font-size: large;
}

#about-container {
  padding: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#navbar-btns {
  float: right;
  padding: 10px;
}

.navbar {
  position: fixed;
  width: 100%;
}
